<ng-container *ngFor="let option of menu">
  <ng-container *ngIf="!option.childrens?.length">
    <button mat-menu-item>
      {{ option.name }}
    </button>
  </ng-container>
  <ng-container *ngIf="option.childrens?.length">
    <mat-menu #inner>
      <app-custom-nested-menu
        [dataSource]="dataSource"
        [parent]="option"
      ></app-custom-nested-menu>
    </mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="inner">
      {{ option.name }}
    </button>
  </ng-container>
</ng-container>
